@using global::BingChat
<div class="row mb-3">
    <div class="col-sm">
        <InputSelect id="Model" @bind-Value="@Options.Tone" class="form-select">
            @foreach (var item in toneList)
            {
                <option value="@item" @onclick="UpdateRequest">@item</option>
            }
        </InputSelect>
    </div>
</div>


@code {

    [Parameter]
    public BingChatClientOptions Options { get; set; }

    [Parameter]
    public BingChatClient? Request { get; set; }

    [Parameter]
    public BingChatConversation conversation { get; set; }

    private IList<string> toneList = new List<string>
    {
        "Balanced",
        "Creative",
        "Precise"
    };

    private async void UpdateRequest()
    {
        Request = new BingChatClient(Options);
        conversation = await Request.CreateConversation();
    }

}